    <div class="col border-left border-right border-warning">
        <div class="d-flex flex-column text-white">
            <div class="p-2 h3 mb-4 border-bottom border-warning">Search </div>
            <div class="main-scroll">  
            <% query_events.each do |query_event| %>
                    <div class="p-2 h3 border-bottom border-warning">
                        <div class="block-bg">
                            <a class="link-block" href=<%== query_event.id %>>
                                <div class="card-header"><%== query_event.name %></div>
                            </a>
                        </div>
                    </div>
            <% end %>                 
            </div>
        </div>
    </div>
    <div class="col-md-3 d-none d-sm-block" style="max-width: 20rem; width: 20rem;">
        <form class="mt-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div class="mt-4 text-white h4 border-bottom">
            Top 5 Hot!!!
        </div>
        <div class="mt-3 top-scroll">
            <div class="card text-white bg-dark mb-3" >
                <div class="card-header">Date</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-warning">more</a>
                </div>
            </div>
        </div>
    </div>