<div class="col border-left border-right border-warning">
    <div class="d-flex flex-column text-white">
        <div class="p-2 h3 mb-4 border-bottom border-warning">EVENT </div>
        <div class="main-scroll">  
            <div class="p-2 h3 border-bottom border-warning">
                <div class="commit-bg">
                    <div class="card-header">HEADER</div>
                    <div class="card-body">
                        <h5 class="card-title">Time</h5>
                        <p class="card-text border-bottom border-white pb-4">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <footer class="text-center h5">
                            <form action="" class="d-inline text-lg-center">
                                <div class="row ">
                                    <div class="col">
                                        <input type="text" class="ml-1 form-control p-2 h6 commit-bg" placeholder="commit">
                                    </div>
                                    <div class="col-2">
                                        <a href="#" class="btn btn-outline-warning">submit</a>
                                    </div>
                                </div>
                            </form>
                        </footer>
                    </div>
                </div>
            </div> 
            <!-- commit -->
            <div class="h4 ">1234 Comments</div>
            <div class="p-2 h3 border">
                <div class="commit-bg">
                    <div class="card-body">
                        <h5 class="card-title">USER</h5>
                        <p class="card-text  h6">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="p-2 h3 border">
                <div class="commit-bg">
                    <div class="card-body">
                        <h5 class="card-title">USER</h5>
                        <p class="card-text  h6">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <!-- commit -->        
        </div>
    </div>
</div>
<div class="col-md-3 d-none d-sm-block">
    <form class="m-3 form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <div class="m-3 text-white h4 border-bottom">
        ALL SESSION
    </div>
    <div class="top-scroll">

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Date</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>   
</div>
</div>