* {
	padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    background-color: #192734;
}

.main-scroll{
    height: 90vh;
    overflow: auto;
}
.main-scroll::-webkit-scrollbar {
    display: none;
}

.top-scroll{
    height: 50vh;
    overflow: auto;
}
.top-scroll::-webkit-scrollbar {
    display: none;
}

.home-top-scroll{
    height: 80vh;
    overflow: auto;
}
.home-top-scroll::-webkit-scrollbar {
    display: none;
}

.block-bg{
    cursor: pointer;
    transition: background-color 0.5s ease;
    background-color: #15202B;
}

.block-bg:hover{
    background-color: #1C2732;
}

.like{
    cursor: pointer;
    transition: color 0.5s ease;
}

.like:hover{
    color: #d45a6f;
}

.share{
    cursor: pointer;
    transition: color 0.5s ease;
}

.share:hover{
    color: #5ad4a1;
}

.sinde-bar-img{
    width: 40px;
    -webkit-filter: invert(100%);
}

.sinde-bar-text:hover{
    background-color: #16212c;
}

.re{
    vertical-align: middle;
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); /* Internet Explorer 9*/
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
    -o-transform:rotate(-90deg); /* Opera */
}

header{
    z-index: 1000;
    width: auto;
    height: auto;
    position: absolute;
    background-color: rgb(209, 168, 91);
    top: 85vh;
    left: 5vh;
}

.link-block{
    color: white;
}

.link-block:hover{
    color:white;
    text-decoration: none;
}

.commit-bg{
    background-color: #15202B;
}

.btn-outline-primary {
    color: #d45a6f;
    background-color: transparent;
    background-image: none;
    border-color: #d45a6f
}

.btn-outline-primary:hover {
    color: white;
    background-color: #d45a6f;
    border-color: #d45a6f
}
